html, body {
    background: #333;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}
